.footer{
    width: 100%;
    height: 400px;
    background-color: black;
    .addres{
        color: white;
    }
    .iconos{
        .fa-brands{
            color: white;
            margin: 5px;
            font-size: 26px;
        }
    }
    .descripcion{
        color: white;
        a{
            text-decoration: none;
        }
    }
    .wsp{
        position: fixed;
        bottom: 60px;
        right: 30px;
        .fa-brands{
            color: green;
            font-size: 36px;
        }
    }
}